body {
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3em;
}

button {
    border: 2px solid black;
    background-color: white;
    border-radius: 5%;
    padding: 1%;
}

header, main {
    margin: 0 auto;
}

header{
  text-align: center;  
}

main {
  font-size: 1.5em;
  padding: 7%;
}

ul {
  list-style-type: none;
}

.container {
    width: 90%;
    height: 575px;
    margin: 20% auto;
    border: 2px solid black;
    padding: 5%;
    border-radius: 5%;
    position: relative;
}

.first-page .container {
  background-image: url("https://imgur.com/2tJGwgw.png"); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.first-page button {
    font-size: 3em;
    margin: 0 auto;
    padding: 5%;
    font-weight: bold;
}

.middle-pages h2 {
    font-size: 1.75em;
    margin: 5%;
}

.middle-pages label {
    font-size: 1.5em;    
}

.middle-pages .answers {
    margin: 20% 10% 10% 10%;
    margin-top: 20%;}

.middle-pages .bottom {
    height: 20px;
    width: 90%;
    position: absolute;
    bottom: 35px;
}

.middle-pages .bottom p, .middle-pages .bottom button {
    display: inline-block;
    position: absolute;
}

.middle-pages .bottom p {
    left: 35px;
    font-size: 1.25em; 
}

.middle-pages .bottom button {
    right: 35px;
    font-size: 1.6em;
}

.correct-answer, .incorrect-answer {
    width: 75%;
    margin: 10% auto;
    border: 2px solid black;
    padding: 5%;
    border-radius: 5%;
    text-align: center;
    position: relative;
}

.correct-answer h1, .incorrect-answer h1 {
    font-size: 2em;
    margin: 1% auto;
}

.correct-answer img, .incorrect-answer img {
    width: 100%;
    height: auto;
    z-position: -1;
}

.correct-answer button, .incorrect-answer button {
  position: absolute;
  bottom: 3%;
  right: 3%;
  z-position: 1;
  font-size: 2em;
  border-radius: 10%; 
}

.results-page {
    text-align: center;
}

.results-page main {
    padding-top: 0;
}

.results-page h2 {
    font-size: 1.5em;
}

 .results-page span{
    font-size: 1.5em;
    }

.results-page img {
    width: 100%;
    height: auto;
    padding-top: 7%;
    padding-bottom: 7%;
}

.results-page button {
    margin: 10px auto;
    font-size: 1.6em;
    padding: 5%;
}

.hidden {
    display: none;
}
  
/*media queries (original CSS is for vertically oriented smart phones*/

/*horizontaly oriented smart phones*/
@media only screen and (min-width: 640px)
{
    .container {
        width: 90%;
        height: 324px;
        margin: 10% auto;
        padding: 2%;
    }
    
    .first-page .container {
        background-position: right;
    }
    
    .first-page button {
        margin: 0;
        padding: 110px 20px;
        width: 300px;
    }
    
    main {
        font-size: 1.5em;
        padding: 1%;
    }
    
    .middle-pages h2 {
        margin: 1%;
    }
    
    .middle-pages .answers {
        margin: 5%;
    }
 
    .results-page .responsive-flex{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .results-page img {
        width: 150px;
        height: 100%;
        margin: 0;
    }
    
    .results-page button {
        font-size: 1.6em;
        width: 120px;
        height: 90px;
        margin: 0;
        padding: 2%;
    } 
}

/*vertically oriented tablets*/
@media only screen and (min-width: 768px)
{
    .container {
        width: 90%;
        height: 950px;
        margin: 5% auto;
        padding: 2%;
    }
    
    .first-page .container {
        background-position: bottom;
        background-size: 76%;
    }
    
    .first-page button {
        font-size: 5em;
        display: block;
        margin: 5% auto;
        padding: 5%;
        width: 90%;
    }
    
    h1 {
        font-size: 5em;    
    }
    
    main {
        font-size: 4em;
    }
    
    .middle-pages h2 {
        font-size: 4em;
        margin: 6%
    }
    
    .middle-pages .answers {
        margin: 10%;    
    }
    
    .middle-pages label {
        font-size: 3em;    
    }
    
    .middle-pages .bottom {
        bottom: 60px;
    }
    
    .middle-pages .bottom p {
    font-size: 2em; 
    }

    .middle-pages .bottom button {
    font-size: 3em;
    }
    
    .correct-answer, .incorrect-answer {
        width: 75%;
        padding: 3%;
    }

    .correct-answer h1, .incorrect-answer h1 {
        font-size: 2em;
        margin: 3% auto;
    }

    .correct-answer img, .incorrect-answer img {
        width: 100%;
        height: auto;
    }  
    .results-page h2 {
        font-size: 1em;
        margin: 6%
    }
    
    .results-page span{
        font-size: 1em;
    }
    
    .results-page .responsive-flex{
        display: block;
        margin: 0 auto;
    }
    
    .results-page img {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    
    .results-page button {
        display: block;
        font-size: 3em;
        width: 40%;
        margin: 0 auto;
        padding: 2%;
    }
}

/*horizontally oriented tablets and desktops*/
@media only screen and (min-width: 1024px)

{
    .container {
        width: 90%;
        height: 690px;
        margin: 13% auto;
        padding: 2%;
    }

    .first-page .container {
        background-position: bottom right;
        background-size: 40%
    }
    
    .first-page button {
        margin: 20% 10% 20% 5%;
        padding: 5%;
        width: 40%;
    }
    main {
        font-size: 1.5em;
        padding: 1%;
    }
    
    .middle-pages h2 {
        margin: 1%;
    }
    
    .middle-pages .answers {
        margin: 6%;
    }
    
    .correct-answer h1, .incorrect-answer h1 {
        font-size: 3.2em;
    }
    
    .results-page h2 {
        font-size: 2em;
        margin: 6%
    }
    
    .results-page .responsive-flex{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .results-page img {
        width: 40%;
        height: auto;
        margin: 0;
        padding: 0;
    }
    
    .results-page button {
        font-size: 3em;
        width: 25%;
        height: 25%;
        margin: 0;
    }    
}
